<!DOCTYPE html>
<html>
<head>
  <title>🔥 DISKUSI TERBUKA 🔥</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="chat-wrapper">
    <div class="chat-container">
      <h2>🔥 DISKUSI TERBUKA 🔥</h2>
      <div id="messages"></div>

      <form id="form">
        <input id="input" autocomplete="off" placeholder="Tulis pesan..." />
        <button>Kirim Pesan</button>
      </form>
    </div>

    <div class="users-container">
      <h3>👥 Pengguna Online</h3>
      <ul id="userList"></ul>
    </div>
  </div>

  <script>
    const USERNAME = "<%= username %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client.js"></script>
</body>
</html>
